<div class="container-lg evenColor">
  <div class="container text-center ">
    <div class="row containerTorneo">
      <div class="col-3 textLeft">
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-1 textRight">
              📆<br>
              🌍<br>
              🟡<br>
              ⚪<br>
              🟠<br>
              ♾️<br>
            </div>
            <div class="col-11 textLeft">
              21-01-2023<br>
              4 Equipos<br>
              Team Hex<br>
              Barcelona Manticores<br>
              Kawaii Kiwis<br>
              Bracket<br>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-4">
        <span class="biggerFontSize bold fontBlue">
          Titanomaquia
        </span>
        <br><br>
        Nuestro torneo más reciente, contó con una amplia participación de más de 30 equipos.
      </div>
      <div class="col-3">
        <img class="torneoImagen" src="assets/fotosEquipos/team%20hex.png">
      </div>
      <div class="col-2">
        <img class="torneoImagen" src="assets/fotosTorneos/titanomaquia.jpeg">
      </div>
    </div>
  </div>
</div>


<div class="container-lg oddColor">
  <div class="container text-center ">
    <div class="row containerTorneo">
      <div class="col-3 textLeft">
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-1 textRight">
              📆<br>
              🌍<br>
              🟡<br>
              ⚪<br>
              🟠<br>
              ♾️<br>
            </div>
            <div class="col-11 textLeft">
              15-10-2022<br>
              31 Equipos<br>
              Kino der Toten<br>
              Murder Inc Purple<br>
              Dinoco Squad<br>
              Bracket<br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <span class="biggerFontSize bold fontBlue">
          Revival Cup
        </span>
        <br><br>
        Nuestro torneo más reciente, contó con una amplia participación de más de 30 equipos.
      </div>
      <div class="col-3">
        <img class="torneoImagen" src="assets/fotosEquipos/kinodertoten.png">
      </div>
      <div class="col-2">
        <img class="torneoImagen" src="../../assets/iconosGorilla/GG_RRSS.png">
      </div>
    </div>
  </div>
</div>



<div class="container-lg evenColor">
  <div class="container text-center ">
    <div class="row containerTorneo">
      <div class="col-3 textLeft">
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-1 textRight">
              📆<br>
              🌍<br>
              🟡<br>
              ⚪<br>
              🟠<br>
              ♾️<br>
            </div>
            <div class="col-11 textLeft">
              15-05-2022<br>
              14 Equipos<br>
              Karuta Fans<br>
              Punk Peruano<br>
              Dinoco Squad<br>
              Bracket<br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <span class="biggerFontSize bold fontBlue">
          Overclock Beta Tournament
        </span>
        <br><br>
        El primer torneo del mundo ambientado en la beta de Overwatch 2 .
      </div>
      <div class="col-3">
        <img class="torneoImagen" src="assets/fotosEquipos/unknown_29_-_Pablo_Molina_Simon.png">
      </div>
      <div class="col-2">
        <img class="torneoImagen" src="../../assets/iconosGorilla/GG_RRSS.png">
      </div>
    </div>
  </div>
</div>



<div class="container-lg oddColor">
  <div class="container text-center ">
    <div class="row containerTorneo">
      <div class="col-3 textLeft">
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-1 textRight">
              📆<br>
              🌍<br>
              🟡<br>
              ⚪<br>
              🟠<br>
              ♾️<br>
            </div>
            <div class="col-11 textLeft">
              19-03-2022<br>
              13 Equipos<br>
              Varcelona Spasticores<br>
              Raton Vacilón<br>
              Dinoco Squad<br>
              Bracket<br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <span class="biggerFontSize bold fontBlue">
          ZeroHourTournament
        </span>
          <br><br>
          Nuestro primer torneo exitoso con más de 10 participantes y 5 equipos de buen nivel.
      </div>
      <div class="col-3">
        <img class="torneoImagen" src="assets/fotosEquipos/manticores_logo_-_Saker.png">
      </div>
      <div class="col-2">
          <img class="torneoImagen" src="assets/fotosTorneos/horizonMonkeyTournament.png">
      </div>
    </div>
  </div>
</div>





<div class="container-lg evenColor">
  <div class="container text-center ">
    <div class="row containerTorneo">
      <div class="col-3 textLeft">
        <br>
        <div class="container text-center">
        <div class="row">
          <div class="col-1 textRight">
            📆<br>
            🌍<br>
            🟡<br>
            ⚪<br>
            🟠<br>
            ♾️<br>
          </div>
          <div class="col-11 textLeft">
            21-01-2023<br>
            4 Equipos<br>
            Pengu Team<br>
            Enzonix<br>
            Tenerife Sur Classics<br>
            Bracket<br>
          </div>
        </div>
      </div>
      </div>
      <div class="col-4">
        <span class="biggerFontSize bold fontBlue">
          Horizon Monkey Tournament
        </span>
        <br><br>
        Primer Torneo de overwatch que organizamos aún bajo el nombre de OwTorneos
      </div>
      <div class="col-3">
        <img class="torneoImagen" src="assets/fotosEquipos/penguteam.jpg">
      </div>
      <div class="col-2">
        <img class="torneoImagen" src="assets/fotosTorneos/horizonMonkeyTournament.png">
      </div>
    </div>
  </div>
</div>


