.containerTorneo{
  padding: 10px;
}

.torneoImagen{
  width:200px;
  height: 200px;
}

.linkIcon{
  width: 35px;
  height: 35px;
  transition: 0.5s;
}

.linkIcon:hover{
  margin-left: 8px;
  transition: 0.5s;
}
