<div class="container-fluid evenColor">
  <div class="container text-center ">
    <div class="row containerTorneo">
      <div class="col-3 textLeft">
        <br>26-02-2022
        <br>6 Equipos
        <br>🟡 Pengu Team 
        <br>⚪ Team Enzonix 
        <br>🟠 Tenerife Sur 
        <br><a href="https://challonge.com/es/HorizonMonkeyTournament">
          <img class="linkIcon" alt="" src="assets/icons/youtube.png">
        </a>
      </div>
      <div class="col-4">
        <span class="biggerFontSize">
          Horizon Monkey Tournament
        </span>
          <br><br>
          Primer Torneo de overwatch que organizamos aún bajo el nombre de OwTorneos
      </div>
      <div class="col-3">
        <img class="torneoImagen" src="assets/fotosEquipos/penguteam.jpg">
      </div>
      <div class="col-2">  
        <img class="torneoImagen" src="assets/fotosTorneos/horizonMonkeyTournament.png">
      </div>
    </div>
  </div>
</div>
<hr>


<div class="container-fluid oddColor">
  <div class="container text-center ">
    <div class="row containerTorneo">
      <div class="col-3 textLeft">
        <br>19-03-2022
        <br>13 Equipos
        <br>🟡 Varcelona Spasticores
        <br>⚪ Ratón Vacilón
        <br>🟠 Dinoco Squad
        <br><a href="https://challonge.com/es/zerohourtournament">
          <img class="linkIcon" alt="" srcset="assets/icons/youtube.png">
        </a>
      </div>
      <div class="col-4">
        <span class="biggerFontSize">
          ZeroHourTournament
        </span>
          <br><br>
          Nuestro primer torneo exitoso con más de 10 participantes y 5 equipos de buen nivel. 
      </div>
      <div class="col-3">
        <img class="torneoImagen" src="assets/fotosEquipos/manticores_logo_-_Saker.png">
      </div>
      <div class="col-2">  
          <img class="torneoImagen" src="assets/fotosTorneos/horizonMonkeyTournament.png">
      </div>
    </div>
  </div>
</div>
<hr>


<div class="container-fluid evenColor">
  <div class="container text-center ">
    <div class="row containerTorneo">
      <div class="col-3 textLeft">
        <br>15-05-2022
        <br>14 Equipos
        <br>🟡 Karuta Fans
        <br>⚪ Punk Peruano
        <br>🟠 Dinoco Squad
        <br><a href="https://challonge.com/es/OverclockBetaTournament">
          <img class="linkIcon" alt="" srcset="assets/icons/youtube.png">
        </a>
      </div>
      <div class="col-4">
        <span class="biggerFontSize">
          Overclock Beta Tournament
        </span>
          <br><br>
          El primer torneo del mundo ambientado en la beta de Overwatch 2 . 
      </div>
      <div class="col-3">
        <img class="torneoImagen" src="assets/fotosEquipos/unknown_29_-_Pablo_Molina_Simon.png">
      </div>
      <div class="col-2">  
        <img class="torneoImagen" src="assets/icons/GG_RRSS.png">
      </div>
    </div>
  </div>
</div>
<hr>


<div class="container-fluid oddColor">
  <div class="container text-center ">
    <div class="row containerTorneo">
      <div class="col-3 textLeft">
        <br>15-10-2022
        <br>31 Equipos
        <br>🟡 Kino der Toten
        <br>⚪ Murder Inc Purple
        <br>🟠 Dinoco Squad
        <br><a href="https://challonge.com/es/tp757f3">
          <img class="linkIcon" alt="" srcset="assets/icons/youtube.png">
        </a>
      </div>
      <div class="col-4">
        <span class="biggerFontSize">
          Revival Cup
        </span>
          <br><br>
          Nuestro torneo más reciente, contó con una amplia participación de más de 30 equipos.
      </div>
      <div class="col-3">
        <img class="torneoImagen" src="assets/fotosEquipos/kinodertoten.png">
      </div>
      <div class="col-2">  
          <img class="torneoImagen" src="assets/icons/GG_RRSS.png">
      </div>
    </div>
  </div>
</div>
<hr>