.nav{
  background-color: var(--blue);
  border-bottom: 1px solid var(--borders);
  position: static;
  height: 55px;
}

.nav-link{
  color: var(--gray);
  line-height: 38px;
}

.nav-link:hover{
  color: var(--neonBlue);

}

.logoFixed{
  width: 45px;
  height: 45px;
  position: fixed;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

