.nav{
  background-color: var(--blue);
  border-bottom: 1px solid var(--borders);
  position: static;
  height: auto;
}

.nav-link{
  color: var(--gray);
  line-height: 38px;
  font-size: large;
}

.nav-link:hover{
  color: var(--neonBlue);
}

.nav-link:focus {
  color: var(--neonBlue);
}

.logoFixed{
  width: 45px;
  height: 45px;
  position: fixed;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

@media (max-width: 440px) {
  .logoFixed{
    display: none;
  }
}

