<div class="container-lg">
  <div class="container text-center containerMain">
    <div class="row">
      <!-- Proximos broadcasts -->
      <div class="col">
        <span class="biggerFontSize bold fontBlue">Próximos broadcasts</span>
        <br><br>
        <div class="containerMain textLeft">
          <div class="container">
            <div class="row">
              <div class="col-6">European Invitational</div><div class="col-3 textRight">01-01-2010</div>
              <div class="col-3 textRight">
                <a href="https://www.twitch.tv/an4rchy_ow" target="_blank">
                  <img src="assets/icons/link.png" class="linkIcon">
                </a>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-6">European Invitational</div><div class="col-3 textRight">01-01-2010</div>
            <div class="col-3 textRight">
              <a href="https://www.twitch.tv/an4rchy_ow" target="_blank">
              <img src="assets/icons/link.png" class="linkIcon">
              </a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin proximos broadcasts -->
      <!-- Proximos torneos -->
      <div class="col">
        <span class="biggerFontSize bold fontBlue">Próximos torneos</span>
        <br><br>
        <div class="containerMain textLeft">
          <div class="container">
            <div class="row">
              <div class="col-6">Torneo 1</div><div class="col-3 textRight">01-01-2010</div>
              <div class="col-3 textRight">
                <a href="https://www.twitch.tv/an4rchy_ow" target="_blank">
                  <img src="assets/icons/link.png" class="linkIcon">
                </a>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-6">Torneo 2</div><div class="col-3 textRight">01-01-2010</div>
              <div class="col-3 textRight">
                <a href="https://www.twitch.tv/an4rchy_ow" target="_blank">
                  <img src="assets/icons/link.png" class="linkIcon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin proximos torneos -->
    </div>
    <div class="row">
      <!-- Redes -->
      <div class="col">
        <span class="biggerFontSize bold fontBlue">Nuestras redes</span>
        <br><br>
        <div class="containerMain textLeft">
          <div class="container">
            <div class="row">
              <div class="col textRight">
                <a href="https://www.twitch.tv/gorillaguild" target="_blank">
                <img src="assets/iconsSocials/twitch.png" class="socialsIcon">
                </a>
              </div>
              <div class="col">
                <a href="https://www.tiktok.com/@gorillaguildow" target="_blank">
                <img src="assets/iconsSocials/tiktok.png" class="socialsIcon">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col textRight">
                <a href="https://www.youtube.com/@gorillaguild24" target="_blank">
                <img src="assets/iconsSocials/youtube.png" class="socialsIcon">
                </a>
              </div>
              <div class="col">
                <a href="https://twitter.com/GorillaGuild" target="_blank">
                <img src="assets/iconsSocials/twitter.png" class="socialsIcon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin redes -->
      <!-- Podcast -->
      <div class="col">
        <span class="biggerFontSize bold fontBlue">Nuestro podcast</span>
        <br><br>
        <a routerLink="/plataforma14"><img src="assets/iconosGorilla/Plataforma14_con_brillispng.png" class="iconPlataforma"></a>
      </div>
      <!-- Fin podcast -->
      <!-- Miembros -->
      <div class="col">
        <span class="biggerFontSize bold fontBlue">Nuestros miembros</span>
        <br><br>
        <div class="containerMain textLeft">
          <div class="container">
            <div class="row">
              <div class="col-1"><a href="https://twitter.com/Artemis_ow_" target="_blank"><img src="assets/icons/link2.png" class="crewIcon"></a></div>
              <div class="col-4">Artemis</div><div class="col-7">Admin & Caster</div>
            </div>
            <div class="row">
              <div class="col-1"><a href="https://twitter.com/Onseleven_OW" target="_blank"><img src="assets/icons/link2.png" class="crewIcon"></a></div>
              <div class="col-4">Oneseleven</div><div class="col-7">Admin & Caster</div>
            </div>
            <div class="row">
              <div class="col-1"><a href="https://twitter.com/8_ochito" target="_blank"><img src="assets/icons/link2.png" class="crewIcon"></a></div>
              <div class="col-4">Ochito</div><div class="col-7">Diseñador y Realizador</div>
            </div>
            <div class="row">
              <div class="col-1"><a href="https://twitter.com/Regi_Qai" target="_blank"><img src="assets/icons/link2.png" class="crewIcon"></a></div>
              <div class="col-4">Regi</div><div class="col-7">Community Manager</div>
            </div>
            <div class="row">
              <div class="col-1"><a href="https://twitter.com/GorillaGuild" target="_blank"><img src="assets/icons/link2.png" class="crewIcon"></a></div>
              <div class="col-4">Shiro</div><div class="col-7">Moderador</div>
            </div>
            <div class="row">
              <div class="col-1"><a href="https://twitter.com/nachoya20" target="_blank"><img src="assets/icons/link2.png" class="crewIcon"></a></div>
              <div class="col-4">Nachoya</div><div class="col-7">Moderador</div>
            </div>
            <div class="row">
              <div class="col-1"><a href="https://twitter.com/MarcvsSan" target="_blank"><img src="assets/icons/link2.png" class="crewIcon"></a></div>
              <div class="col-4">MarcusSan</div><div class="col-7">Caster</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin miembros -->
    </div>
  </div>
</div>
