<div class="container-md">
  <div class="container text-center containerMain">
    <div class="row">
      <!-- Proximos broadcasts -->
      <div class="col">
        <span class="biggerFontSize bold fontBlue">Próximos broadcasts</span>
        <br><br>
        <div class="containerMain textLeft">
          <div class="container">
            <div class="row info">
              <div class="col-md-auto col-xl-6">European Invitational</div>
              <div class="col-md-auto col-xl-3">01-01-2010</div>
              <div class="col-md-auto col-xl-3">
                <a href="https://www.twitch.tv/an4rchy_ow" target="_blank">
                  <img src="assets/icons/link.png" class="linkIcon">
                </a>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row info">
              <div class="col-md-auto col-xl-6">European Invitational</div>
              <div class="col-md-auto col-xl-3">01-01-2010</div>
              <div class="col-md-auto col-xl-3">
                <a href="https://www.twitch.tv/an4rchy_ow" target="_blank">
                  <img src="assets/icons/link.png" class="linkIcon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin proximos broadcasts -->
      <!-- Proximos torneos -->
      <div class="col">
        <span class="biggerFontSize bold fontBlue">Próximos torneos</span>
        <br><br>
        <div class="containerMain textLeft">
          <div class="container">
            <div class="row info">
              <div class="col-md-auto col-xl-6">Torneo 1</div>
              <div class="col-md-auto col-xl-3">01-01-2010</div>
              <div class="col-md-auto col-xl-3">
                <a href="https://www.twitch.tv/an4rchy_ow" target="_blank">
                  <img src="assets/icons/link.png" class="linkIcon">
                </a>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row info">
              <div class="col-md-auto col-xl-6">Torneo 2</div>
              <div class="col-md-auto col-xl-3" >01-01-2010</div>
              <div class="col-md-auto col-xl-3">
                <a href="https://www.twitch.tv/an4rchy_ow" target="_blank">
                  <img src="assets/icons/link.png" class="linkIcon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin proximos torneos -->
    </div>
    <div class="row">
      <!-- Redes -->
      <div class="col">
        <span class="biggerFontSize bold fontBlue">Nuestras redes</span>
        <br><br>
        <div class="containerMain textLeft">
          <div class="container">
            <div class="row">
              <div class="col textRight">
                <a href="https://www.twitch.tv/gorillaguild" target="_blank">
                  <img src="assets/iconsSocials/twitch.png" class="socialsIcon">
                </a>
              </div>
              <div class="col">
                <a href="https://www.tiktok.com/@gorillaguildow" target="_blank">
                  <img src="assets/iconsSocials/tiktok.png" class="socialsIcon">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col textRight">
                <a href="https://www.youtube.com/@gorillaguild24" target="_blank">
                  <img src="assets/iconsSocials/youtube.png" class="socialsIcon">
                </a>
              </div>
              <div class="col">
                <a href="https://twitter.com/GorillaGuild" target="_blank">
                  <img src="assets/iconsSocials/twitter.png" class="socialsIcon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin redes -->
      <!-- Podcast -->
      <div class="col">
        <span class="biggerFontSize bold fontBlue">Nuestro podcast</span>
        <br><br>
        <a routerLink="/plataforma14"><img src="assets/iconosGorilla/Plataforma14_con_brillispng.png"
                                           class="iconPlataforma"></a>
      </div>
      <!-- Fin podcast -->

    </div>
  </div>
</div>

<footer >
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://gorillaguild.org/">GorillaGuild.org</a>
    |
    contacto@gorillaguild.org
  </div>
</footer>
