:root {
  --gray: #1A1B1E;
  --white: #FFFFFF;
  --blue: #2D7CC0;
  --neonBlue: #ccf0ff;

  --backgroundMain: #313335;
  --backgroundLighter: #3C3F41;
  --backgroundDarker: #2B2B2B;

  --borders: #555555;
}



html body{
  background-color: var(--backgroundMain);
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
}

.fontBlue{
  color: var(--blue);
}

.bold{
  font-weight: bold;
}

.textLeft{
  text-align: left !important;
}

.textCenter{
  text-align: center !important;
}

.textRight{
  text-align: right !important;
}

.justifyText{
  text-align: justify !important;
}

.biggerFontSize{
  font-size:xx-large;
}

.evenColor {
  background-color: var(--backgroundLighter);
}
.oddColor {
  background-color: var(--backgroundDarker);
}

hr{
  margin: 0;
  background-color: var(--neonBlue);
  height: 1px;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
}



